.jumbotron{
    text-align: center;
    font-weight: normal;
    color: white;
    border-radius: 0;
    margin-top: 45px;
    background: #136a8a;
    background: -webkit-linear-gradient(to top, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);

}

.btn-raised {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.60);
}

.btn-raised:hover{
    box-shadow: 0 3.4px 6px 0 rgba(0,0,0,0.75);
}

.pp{
    font-family: "Century Gothic", serif;
    color: #353535;
}

.h4p{
    color: #3c3c3c;
}

.h5p{
    color: #eeeeee;
}

button.navbar-toggler{
    padding: 0.15rem 0.45rem 0.15rem 0.49rem;
}

button.navbar-toggler:focus{
    outline: none;
}

button.navbar-toggler:hover{
    border: 1px solid transparent;
}


.navbar-toggler-icon{
    width: 1.4em;
    height: 1.4em;
}

