#bodyIndex::-webkit-scrollbar {
    width: 0;
}

#bodyContact::-webkit-scrollbar {
    width: 0;
}

.scrollContainerX::-webkit-scrollbar{
    height: 6px;
    background: transparent;
}

.scrollContainerX::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #434242;
}

.scrollContainerX::-webkit-scrollbar-thumb:hover{
    border-radius: 5px;
    background: #2f2f2f;
}


.row{
    margin-left: 0;
    margin-right: 0;
}

.jumbotron{
    text-align: center;
    font-weight: normal;
    color: white;
    border-radius: 0;
    margin-top: 45px;
    background: #136a8a;
    background: -webkit-linear-gradient(to top, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);

}

.btn-raised {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.60) !important;
}

.btn-raised:hover{
    box-shadow: 0 3.4px 6px 0 rgba(0,0,0,0.75);
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.pp{
    font-family: "Century Gothic", serif;
    color: #353535;
}

.h4p{
    color: #3c3c3c;
}

.h5p{
    color: #eeeeee;
}

button.navbar-toggler{
    padding: 0.15rem 0.45rem 0.15rem 0.49rem;
}

button.navbar-toggler:focus{
    outline: none;
}

button.navbar-toggler:hover{
    border: 1px solid transparent;
}


.navbar-toggler-icon{
    width: 1.4em;
    height: 1.4em;
}

.imarker{
    padding-left: 2px;
}

li.breadcrumb-item{
    color: #747577;
}

li.breadcrumb-item.active{
    color: #6fa7e0;
}

ol.breadcrumb{
    background-color: #e9e9e9;
}

th{
    font-weight: 400;
}

